@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
}

/* ########## header styling ########## */

ul li {
    font-size: 16px;
    list-style: none;
}

a {
    font-size: 16px;
    text-decoration: none;

}

p,
li {
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

h1,
h2,
h3 {
    font-weight: 600;
    font-size: 40px;
}

.nav-item {
  position: relative;
}

.nav-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
  }

.nav-item:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.header {
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/doctor imag.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar .logo,
.navbar a {
    color: white;
}

.navbar .logo a {
    color: white;
    font-weight: 600;
    font-size: 40px;
}

.navbar .logo {
    float: left;
    margin-top: 10px;
}

.navbar .nav-items {
    float: right;
    margin-top: 10px;
    }

.navbar .nav-item {
    display: inline-block;
}

.navbar::after {
    content: "";
    display: block;
    clear: both;
}

.nav-item a:link,
.nav-item a:visited {
    color: #f4f4f4;
}

/* .nav-item:hover {
    border-bottom: 2px solid #f4f4f4;
} */

.container {
    position: relative;
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
}

.nav-item {
    padding: 10px;
    margin-top: 5px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

/* ########## header content style######### */


.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);

}

.header-content h1 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}

.header-content p {
    text-transform: uppercase;
}

.typing-container {
    font-family: 'Courier New', Courier, monospace;
    border-right: 2px solid black; /* Cursor effect */
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflowing text */
    width: 0; /* Initial width */
    animation: typing 4s steps(50) forwards, blink-caret 0.75s step-end infinite;
    animation-delay: 0s, 5s; /* Initial typing, then wait for 5s before restart */
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; /* Repeat infinitely */
}

@keyframes typing {
    from {
        width: 0; /* Start with 0 width */
    }
    to {
        width: 100%; /* End with full width */
}
}

@keyframes blink-caret {
    50% {
        border-color: transparent; /* Blink effect */
    }
}


.zoom {
  padding: 50px;
  transition: transform .3s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

/* ########### utility class ######### */

.lg-heading {
    font-weight: 800;
    font-size: 30px;
}


.md-heading {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.red-text {
    color: #e63946;
}

.light-text {
    color: #f4f4f4;
}

.gray-text {
    color: #555555;
}

.black-text {
    color: #333333;
}

.btn {
    display: inline-block;
    border-radius: 20px;
    padding: 8px 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 8px 0px;
}

.btn:hover {
    background-color: lightgray;
}

.btn-pri,
.btn-sec {
    background-color: #f4f4f4;

}

.btn-sec {
    border: 1px solid #e63946;
}

.bg-dark {
    background-color: #263238;
}

/* #### cards #### */

.cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 35%;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
}


.card {
    text-align: center;
    width: 300px;
    margin: 0 30px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 50%;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 18px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e63946;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #c62828;
}

.center-button {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.btn-appointment {
    background-color: #e63946;
    color: #fff;
    border: none;
}

.btn-appointment:hover {
    background-color: #c62828;
}

/* ################ footer style ############## */

.footer {
    background-color: #263238;
    color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.social-media-links i {
    margin: 20px;

}


/* Button used to open the contact form - fixed at the bottom of the page */
  
  /* The popup form - hidden by default */

  .form-popup {
    display: none;
    position: fixed;
    top: 50px;
    right: 150px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password], .form-container input[type=number], .form-container input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=number]:focus, .form-container input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }
    
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

/* #######  table css */
.data-table, .doctor-data-table, .patient-data-table {
    width: 80%;
    border-collapse: collapse;
    margin: 50px;
}

.data-table th, .data-table td, .doctor-data-table th, .doctor-data-table td, .patient-data-table th, .patient-data-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.data-table th, .doctor-data-table th, .patient-data-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-transform: uppercase;
}

.data-table td, .doctor-data-table td, .patient-data-table td {
    background-color: #fff;
}

.data-table tbody tr:nth-child(even) td, .doctor-data-table tbody tr:nth-child(even) td, .patient-data-table tbody tr:nth-child(even) td {
    background-color: #f9f9f9;
}

.data-table tbody tr:hover td, .doctor-data-table tbody tr:hover td, .patient-data-table tbody tr:hover td {
    background-color: #f0f0f0;
}

/* #### about css #### */

.aboutUs{
    width: 50%;
    margin: 50px;
    background-color: #fff;
    opacity: 0.8;
}
    
 /* The patient form */

 .Pform {
    position: absolute;
    left: 50px;
    top: 130px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .Pform-container {
    max-width: 700px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .Pform-container input[type=text], .Pform-container input[type=password], .Pform-container input[type=number], .Pform-container input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .Pform-container input[type=text]:focus, .Pform-container input[type=password]:focus, .Pform-container input[type=number]:focus, .Pform-container input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }
    
  /* Add a red background color to the cancel button */
  .Pform-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .Pform-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


  /* The Doctor form */

 .Dform {
    position: absolute;
    left: 50px;
    top: 150px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .Dform-container {
    max-width: 700px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .Dform-container input[type=text], .Dform-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .Dform-container input[type=text]:focus, .Dform-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
    
  /* Add a red background color to the cancel button */
  .Dform-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .Dform-container .btn:hover, .open-button:hover {
    opacity: 1;
  }


  /* ### for admin ### */

  .header1 {
    height: 150vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/admin3.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}



.data-table{
    display: none;
}

.doctor-data-table{
	display: table;
}
