<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kk's HOSPITAL | Welcome to KK's hospital admin</title>
<link rel="stylesheet" type="text/css" href=""
	th:href="@{/css/styles.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
	<header class="header2">
		<div class="container">
			<nav class="navbar">
				<h1 class="logo">
					<a th:href="@{/welcome}"><i class="fa-solid fa-hospital-user"></i>
						KK's </a>
				</h1>
				<ul class="nav-items">
					<li class="nav-item"><a th:href="@{/welcome}">Home</a></li>
					<li class="nav-item"><a th:href="@{/about}">About Us</a></li>
					<li class="nav-item"><a th:href="@{/contact}">Contact</a></li>
					<li class="nav-item" th:if="${session.username == null}"
						onclick="openForm()"><a>Login</a></li>
					<li class="nav-item" th:if="${session.username != null}"><span
						style="color: white">Welcome, <span th:text="${session.username}"></span></span>
					</li>
					<li class="nav-item" th:if="${session.username != null}"><a
						th:href="@{/logout}">logout</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<br>
	

<h2>All Patient</h2>
	<table class="patient-data-table Appointment" id="Appointment">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Age</th>
				<th>Email</th>
				<th>Password</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="patient : ${patients}">
				<td th:text="${patient.id}"></td>
				<td th:text="${patient.name}"></td>
				<td th:text="${patient.age}"></td>
				<td th:text="${patient.email}"></td>
				<td th:text="${patient.password}"></td>
				<td>
					<form class="update-form" 
						th:action="@{/admin/patients/{id}(id=${patient.id})}"
						method="post" style="display: none">
						<label>Name:</label>
						<input type="text" name="name" th:value="${patient.name}" /> <label>Age:</label>
						<input type="number" name="age" th:value="${patient.age}" /> <label>Email:</label>
						<input type="email" name="email" th:value="${patient.email}" /> <label>Password:</label>
						<input type="password" name="password"
							th:value="${patient.password}" />
						<button type="submit" >Update</button>
					</form>
					<button type="button" onclick="hideForm(this)">Edt</button>
				</td>
				<td>
					<form th:action="@{/admin/patients/{id}/delete(id=${patient.id})}"
						method="post">
						<input type="hidden" name="_method" value="delete" />
						<button type="submit">Delete</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>

	<table>
	</table>
	
	
	
	<h2>All Doctors</h2>
	<table class="doctor-data-table Appointment" id="Appointment">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Specialization</th>
				<th>Password</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="doctor : ${doctors}">
				<td th:text="${doctor.id}"></td>
				<td th:text="${doctor.name}"></td>
				<td th:text="${doctor.specialization}"></td>
				<td th:text="${doctor.password}"></td>
				<td>
					<form th:action="@{/admin/doctors/{id}(id=${doctor.id})}" method="post">
						<label>Name:</label>
						<input type="text" name="name" th:value="${doctor.name}" /> 
						<label>Specialization:</label>
						<input type="text" name="specialization" th:value="${doctor.specialization}" />
						<button type="submit">Update</button>
					</form>
					<form th:action="@{/admin/doctors/{id}/delete(id=${doctor.id})}" method="post">
						<input type="hidden" name="_method" value="delete" />
						<button type="submit">Delete</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	
	<table>
	</table>
	<script type="text/javascript">
	function hideForm(button) {
	    let form = button.previousElementSibling;
	    form.style.display = "block";
	}
	</script>
</body>
</html>
