<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Appinment Tabel</title>
<link rel="stylesheet" type="text/css" href=""
	th:href="@{/css/styles.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
	<div id="table-container">
		<table class="doctor-data-table Appointment" id="Appointment">
			<thead>
				<tr>
					<th>Sr. No.</th>
					<th>Appointment Date</th>
					<th>Appointment Time</th>
					<th>Doctor</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="appointment, iterStat : ${appointments}">
					<td th:text="${iterStat.index + 1}"></td>
					<td th:text="${appointment.appointmentDate}"></td>
					<td th:text="${appointment.appointmentSlot}"></td>
					<td th:text="${appointment.doctor.name}"></td>
					<td>
						<form id="update"
							th:action="@{appointment/{id}(id=${appointment.id})}"
							method="post" style="display: none">
							<label for="patient">Patient:</label> <input name="patientName"
								th:value="${username}" readonly="readonly"><br> <input
								type="hidden" name="patientId" th:value="${userId}"><br>
							<br> <label for="doctor">Doctor:</label> <select
								name="doctorId" required>
								<option th:each="doctor : ${doctors}" th:value="${doctor.id}"
									th:text="${doctor.name}"></option>
							</select> <br> <br> <label for="appointmentDate">Appointment
								Date :</label> <input type="date" name="appointmentDate" required /> <label
								for="appointmentSlot">Select Appoinment Slot:</label> <select
								name="appointmentSlot" id="appointmentSlot" required>
								<option value="9AM-12PM">9AM-12PM</option>
								<option value="4PM-9PM">4PM-9PM</option>
							</select> <br> <br>

						</form>
						<button type="submit" onclick="hideForm()">Update</button>
					</td>
					<td>
						<form th:action="@{appointment/{id}/delete(id=${patient.id})}"
							method="post">
							<input type="hidden" name="_method" value="delete" />
							<button type="submit">Delete</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="pagination">
		<span th:if="${currentPage > 0}"> <a href="#"
			th:data-page="${currentPage - 1}" class="pagination-link">Previous</a>
		</span> 
		
		<span
			th:if="${currentPage < totalPages - 1}"> <a href="#"
			th:data-page="${currentPage + 1}" class="pagination-link">Next</a>
		</span><br>
		<span>Page <span th:text="${currentPage + 1}"></span> of 
		 <span
			th:text="${totalPages}"></span>
		 </span> 
	</div>
	</div>
</body>
</html>