<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Appointments</title>
<link rel="stylesheet" type="text/css" href=""
	th:href="@{/css/styles.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<nav class="navbar">
				<h1 class="logo">
					<a th:href="@{/welcome}"><i class="fa-solid fa-hospital-user"></i>
						KK's </a>
				</h1>
				<ul class="nav-items">
					<li class="nav-item"><a th:href="@{/welcome}">Home</a></li>
					<li class="nav-item"><a th:href="@{/about}">About Us</a></li>
					<li class="nav-item"><a th:href="@{/contact}">Contact</a></li>
					<li class="nav-item" th:if="${username == null}"
						onclick="openForm()"><a>Login</a></li>
					<li class="nav-item" th:if="${username != null}"><span
						style="color: white">Welcome, <span th:text="${username}"></span></span>
					</li>
					<li class="nav-item" th:if="${username != null}"><a
						th:href="@{/logout}">logout</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<h1>List of Appointments</h1>
	<table class="doctor-data-table Appointment">
		<thead>
			<tr>
				<th>Sr. No.</th>
				<th>Appointment Date</th>
				<!-- <th>Patient</th> -->
				<th>Doctor</th>
			</tr>
		</thead>
		<tbody>

			<tr th:each="appointment, iterStat : ${appointments}">
				<td th:text="${iterStat.index + 1}"></td>
				<!-- Display serial number -->
				<td th:text="${appointment.appointmentTime}"></td>
				<!-- <td th:text="${appointment.patient.name}"></td> -->
				<td th:text="${appointment.doctor.name}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
